<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>LockLog Login</title>
  </head>
  <body>
    <div id="outer">
      <div id="inner">
	<div id="content" style="width:300px;">
	  <form method="POST" action="">
	    <table cellpadding="4" align="center">
	      <tr>
		<td>Username:</td>
		<td><input type="text" size="10" name="username"></td>
	      </tr>
	      <tr>
		<td>Password:</td>
		<td><input type="password" size="10" name="password"></td>
	      </tr>
	      <tr>
		<td>Building:</td>
		<td>
		  <select name="building">
		    {% for key,bldg in BLDGS: %}
		    <option value={{ key }}>{{ bldg }}</option>
		    {% endfor %}
		  </select>
		</td>
	      </tr>
	      <tr>
		<td colspan="2"><center><input type="submit" /></center></td>
	      </tr>
	    </table>
	  </form>
	</div>
      </div>
    </div>
  </body>
</html>
